pkgbase = booty-terminal-bin
	pkgdesc = Binary-only Pilgrim-HolyC Wayland terminal preview
	pkgver = 0.0.1
	pkgrel = 5
	url = https://github.com/mcqueentrading/Booty-HolyC
	arch = x86_64
	license = custom:BOOTY-1.1
	depends = bash
	depends = glibc
	depends = sdl2-compat
	depends = sdl2_ttf
	depends = wayland
	depends = noto-fonts
	provides = booty-terminal
	conflicts = booty-terminal
	options = !strip
	options = !debug
	source = booty-launcher
	source = booty.desktop
	sha256sums = 6726f376afc4384fc2f53e0752aa72dd30c09bd148cd52087523b12998f0c3b2
	sha256sums = f2b1b89528db67173e667850ebcdda9fcfcdd7e005568eef8cfc36f707e2226a
	source_x86_64 = booty-0.0.1-linux-x86_64.tar.zst::https://github.com/mcqueentrading/Booty-HolyC/releases/download/v0.0.1/booty-0.0.1-linux-x86_64.tar.zst
	sha256sums_x86_64 = 4984dc31ddd65366496c3db3740deb56d4d29832a5778862f0f3593363c5a500

pkgname = booty-terminal-bin
